
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Delicious+Handrawn&display=swap');
/* Colors */


/* 
60% of #261C33 - Primary
30% of #373A66 - Secondary
10% of #DF7798 - Accent
*/
:root {

    /* var(--primaryColor) !important; */
    --primaryColor: #261C33;

    /* var(--secondaryColor) !important; */
    --secondaryColor: #373A66;

    /* var(--accentColor) !important; */
    --accentColor: #D57798;

      /* var(--fontFamily) !important; */
      --fontFamily: "Delicious Handrawn", serif;
}