h1,h2 {color: var(--accentColor) !important;}

   
    .navbar {background-color:rgb(241, 189, 218); }
    .navbar a {color: var(--primaryColor) !important}

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Creates 3 equal columns */
        justify-items: center;      /* Centers items horizontally within their cells */
        align-items: center;      /* Centers items vertically within their cells */
      }

      .img-button {
        height: 250px;
        width: 250px;
      }