h1,h2 {color: var(--accentColor) !important;}

   
    .navbar {background-color:rgb(241, 189, 218); }
    .navbar a {color: var(--primaryColor) !important}


.cropped {
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: auto;
}