h1,h2 {color: var(--accentColor) !important;}

   
    .navbar {background-color:var(--secondaryColor) !important; text-decoration-color: var(--accentColor) !important;;}

    blockquote {
        font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 18px;
font-style: italic;
margin: 0.25em 0px;
padding: 0.35em 40px;
line-height:1.45;
    }
    blockquote::before {
        display: block;
        padding-left: 10px;
        font-size: 80px;
        color: var(--accentColor);
        content: "\201c";
    }

blockquote cite {
content: "\2014"

}

.cropped {
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
}