@import 'global.css';

@import 'main.css';

p {

    font-family: var(--fontFamily) !important;

}

.blinn-fa-icon {font-size: 60px;
color:rgb(221, 132, 191);}

.blinn-fa-icon:hover {transform: scale(1.1);}

.blinn-fa-container a {color: var(--accentColor)}

.blinn-fa-container {
    background-color: var(--secondaryColor) !important;
padding: 50px;}

.paragraph-1-img {position: relative;
float: right;
max-width: 350px;
width: 100%;
height: auto;
padding-left: 15px;}

.cropped {align-content: center;}



