<footer><div class="container my-5">

    <footer class="text-center text-lg-start" style="background-color: #261C33;">
      <div class="container d-flex justify-content-center py-5">
        </button>
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #D57798;">
          <i class="fab fa-youtube"></i>
        </button>
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #D57798;">
          <i class="fab fa-instagram"></i>
        </button>
      </div>

    </footer>
    
  </div>
</footer>
